<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.arithmetic.mapper.QueGroupMapper">
  <resultMap id="BaseResultMap" type="com.example.arithmetic.pojo.entity.QueGroup">
    <!--@mbg.generated-->
    <!--@Table que_group-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="owner_id" jdbcType="INTEGER" property="ownerId" />
    <result column="mark" jdbcType="DOUBLE" property="mark"/>
    <result column="correct" jdbcType="DOUBLE" property="correct"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, num, `level`, create_time, end_time, owner_id, mark, correct
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from que_group
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="rank" resultType="com.example.arithmetic.pojo.vo.RankItemVo">
    select sum(num) as num, sum(correct) as correct, sum(correct)/sum(num) as rate, owner_id as ownerId
    from que_group
    group by owner_id
    order by rate DESC
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from que_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.arithmetic.pojo.entity.QueGroup" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into que_group (num, `level`, create_time, 
      end_time, owner_id)
    values (#{num,jdbcType=INTEGER}, #{level,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{ownerId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.arithmetic.pojo.entity.QueGroup" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into que_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="num != null">
        num,
      </if>
      <if test="level != null">
        `level`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="ownerId != null">
        owner_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ownerId != null">
        #{ownerId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.arithmetic.pojo.entity.QueGroup">
    <!--@mbg.generated-->
    update que_group
    <set>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        `level` = #{level,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ownerId != null">
        owner_id = #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="mark != null">
        mark = #{mark,jdbcType=DOUBLE},
      </if>
      <if test="correct != null">
        correct = #{correct,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.arithmetic.pojo.entity.QueGroup">
    <!--@mbg.generated-->
    update que_group
    set num = #{num,jdbcType=INTEGER},
      `level` = #{level,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      owner_id = #{ownerId,jdbcType=INTEGER},
      mark = #{mark,jdbcType=DOUBLE},
      correct = #{correct,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="listQueGroup" resultType="com.example.arithmetic.pojo.entity.QueGroup">
    select
    <include refid="Base_Column_List" />
    from que_group
    where owner_id = #{ownerId,jdbcType=INTEGER}
    </select>
</mapper>